{% extends 'home.html' %}
<!-- Issue diagnostic tests to patient -->
{% block content %}

<div class="container">

    <h1 class="text-center mt-2"><b>{{ title }}</b></h1>
    <table class="table table-bordered" style="width: 90%;">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Patient ID</th>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">Address</th>
                <th scope="col">DOJ</th>
                <th scope="col">Type of room</th>
            </tr>

        </thead>

        <tbody>
            <tr>
                <td scope="row">
                    <form name="search-patient" action="" method="POST">
                        <input type="number" name="patient_id" id="patient_id" placeholder="{{ patient['ws_pat_id'] }}"
                            required>
                        <button type="submit" class="btn btn-dark btn-sm">Find</button>
                    </form>
                </td>
                <td>{{ patient['ws_pat_name'] }}</td>
                <td>{{ patient['ws_age'] }}</td>
                <td>{{ patient['ws_adrs'] }}</td>
                <td>{{ patient['ws_doj'] }}</td>
                <td>{{ patient['ws_rtype'] }}</td>

            </tr>
        </tbody>
    </table>

    {% if diagnostic %}
    {% if not diag_issued %}

    <div class="alert alert-primary" role="alert">
        <h3>No Diagnostics Conducted</h3>
    </div>

    {% else %}
    <h3 class="text-left mt-3"><b>Diagnostics Conducted</b></h3>
    <table class="table table-bordered" style="width: 50%;">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name of the Test</th>
                <th scope="col">Amount</th>
            </tr>
        </thead>

        <tbody>

            {% for issued, cost in diag_issued.items() %}
            <tr>
                <td scope="row">{{ issued }}</td>
                <td>{{ cost }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}


    <h3 class="text-left mt-3"><b>Add Diagnostic</b></h3>
    <table class="table table-bordered" style="width: 50%;">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name of the Test</th>
                <th scope="col">Amount</th>
            </tr>
        </thead>

        <div>
            <select name="diag" id="diag" style="position: absolute; left: 52%;">
                {% for diag in diagnostic %}
                <option value="{{ diag['ws_test_id'] }}">{{ diag['ws_diagn'] }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-dark ml-5" style="position: absolute; left: 58%; margin-left: 10px;"
                onclick="selectDiag()">Add</button>
        </div>

        <tbody>

            {% for diag in diagnostic %}
            <tr>
                <td scope="row">{{ diag['ws_diagn'] }}</td>
                <td>{{ diag['ws_test_charge'] }}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

    <div class="text-centre">
        <form action="{{ url_for('updateSuccess') }}" method="POST">
            <input type="hidden" name="patient_id" id="patient_id" value="{{ patient['ws_pat_id'] }}">
            <input class="btn btn-dark btn-lg mb-5" type="submit" name="test_id" id="test_id" value="Issue Test"
                onclick="this.value=selectDiag()">
            <!-- <button type="submit" class="btn btn-dark btn-lg">Update</button> -->
        </form>
    </div>
    {% endif %}
</div>

<script>
    document.getElementById("test_id").disabled = true;

    function selectDiag() {
        document.getElementById("test_id").disabled = false;
        var e = document.getElementById("diag");
        var value = e.options[e.selectedIndex].value;
        return value;
    }

</script>


{% endblock %}