{% extends 'home.html' %}
{% block content %}
<!-- Search for patient in the patient billing section -->


<form method='POST' action="{{ url_for('pat_bill_search', typ = 'bill') }}">
    {{ form.hidden_tag() }}

    <div class="container p-3 my-3 w-50 ">
        <h1 class="text-capitalize text-center head-title"><b>Patient {{typ}}ing Details</b></h1>
        <!-- label and input field with an inline span tag for '*' -->
        <div class="form-row mt-5 mb-4 ">
            <div class="col-sm-4 text-left">
                <b>{{ form.ws_pat_id.label }}</b>
                <span style="color:red;"> *</span>
            </div>
            <div class="col-sm-6">
                {{ form.ws_pat_id(placeholder = "Enter Patient Id" , class = "form-control") }}
            </div>

            <div class="col-sm-2">
                <button type="submit" class = "btn btn-dark">Get Bill</button>
            </div>
        </div>

        <!-- Any Validation Error in SSN field is shown with help of this -->
        <ul>
            {% for error in form.ws_pat_id.errors %}
            <li style="color:red;">{{ error }}</li>
            {% endfor %}
        </ul>

    </div>

</form>


{%endblock%}
