{% extends 'home.html' %}
<!-- View patient details -->
{% block content %}
<div class="container">
    <h3>{{ title }}</h3>
    <form name="view-patient" action="" method="POST">
        <div class="form-group ">
            <label for="patient_id" class="col-sm-2 col-form-label">Patient ID* </label>
            <div class="col-sm-10">
                <input type="number" name="patient_id" id="patient_id" placeholder="{{ patient['ws_pat_id'] }}"
                    required>
                <button type="submit" class="btn btn-dark btn-sm">Find</button>
            </div>
        </div>
    </form>

    <form name="show-patients" action="">
        <div class="form-group ">
            <label for="p_name" class="col-sm-2 col-form-label">Patient Name</label>
            <div class="col-sm-10">
                <input type="text" name="p_name" id="p_name" value="{{ patient['ws_pat_name'] }}" readonly><br>
            </div>
        </div>

        <div class="form-group ">
            <label for="age" class="col-sm-2 col-form-label">Patient Age</label>
            <div class="col-sm-10">
                <input type="text" name="age" id="age" value="{{ patient['ws_age'] }}" readonly><br>
            </div>
        </div>

        <div class="form-group ">
            <label for="doa" class="col-sm-2 col-form-label">Date of Admission</label>
            <div class="col-sm-10">
                <input type="text" name="doa" id="doa" value="{{ patient['ws_doj'] }}" readonly><br>
            </div>
        </div>

        <div class="form-group ">
            <label for="bed" class="col-sm-2 col-form-label">Type of bed</label>
            <div class="col-sm-10">
                <input type="text" name="bed" id="bed" value="{{ patient['ws_rtype'] }}" readonly><br>
            </div>
        </div>

        <div class="form-group ">
            <label for="address" class="col-sm-2 col-form-label">Address</label>
            <div class="col-sm-10">
                <textarea name="address" id="address" rows="4" cols="50"
                    readonly>{{ patient['ws_adrs'] }}</textarea><br>
            </div>
        </div>

        <div class="form-group ">
            <label for="state" class="col-sm-2 col-form-label">State</label>
            <div class="col-sm-10">
                <input type="text" name="state" id="state" value="{{ patient['patient_state'] }}" readonly><br>
            </div>
        </div>

        <div class="form-group ">
            <label for="city" class="col-sm-2 col-form-label">City</label>
            <div class="col-sm-10">
                <input type="text" name="city" id="city" value="{{ patient['patient_city'] }}" readonly><br>
            </div>
        </div>
        <small class="form-text text-muted">* Mandatory</small>

</div>
</form>
</div>
{% endblock %}